body {
    margin: 0px;
    background-color: #f2f2f2;
    display: grid;
    place-items: center;
}

::-webkit-scrollbar {
    display: none;
}

.header {
    top: 0px;
    width: 100%;
    height: 5vh;
    position: absolute;
    background-color: #5c5c5c;
}